img.cart{
    width: 30px;
  }
  
  img.incart{
    width: 50%;
    display: block;
    margin: 0 auto;
    height: 140px;
    object-fit: cover;
  }

  .item_card{
    background-color: bisque;
    border: 4px solid #fefefe;
  }

  #item_name {
    text-align: center;
    margin: 0;
  }

  #item_point {
    margin: 0;
  }

  #item_stock {
    margin: 0;
  }
  
  .mycart_box{
  
    color: #4c4c4c ;
    font-weight: bold;
    text-align: center;
    margin-top: 24px;
    padding: 24px 8px;
    font-size: 1.1em;
    background-color: #fefefe ;
    
  }
  
  .footer_design{
    background-color: #07728a ;;
    text-align: center;
    color: #fefefe ;
    padding: 60px;
  }
  
  .buy-btn{
    margin: 40px auto 60px;
    width: 200px;
    display: block;
    background-color: #ff5c73 ;
  }
  
  .ball{
    position: absolute;
  }
 
  .pagenate{
    width: 200px;margin: 20px auto;
  }